<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Employee Assets System</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body>

<div class="container my-2">


        <h1>Employee Asset List</h1>
        <br>
        <table border="1" class = "table table-striped table-responsive-md">
            <caption></caption>
            <thead>
            <tr>
                <th id="">Asset Id</th>
                <th id="">Asset Code</th>
                <th id="">Asset Type</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="asset : ${assets}">
                <td th:text="${asset.id}"></td>
                <td th:text="${asset.assetCode}"></td>
                <td th:text="${asset.assetType}"></td>
            </tr>
            </tbody>
        </table>
    </div>
<hr>

<a th:href = "@{/}"> Back to Employee List</a>
</body>
</html>